<ul>
    <!-- <li ng-repeat="auction in controller.itemToBid">-->
    <li>
        <u>
            {{controller.itemToBid.name}} -- {{controller.itemToBid.description}} -- <label>Minimum Bid: </label>{{controller.itemToBid.minBid}} -- <label>Current Bid: </label>{{controller.itemToBid.currentBid}}
        </u>
    </li>
</ul>

<div ng-show="!controller.maxBidReached()">
    <form ng-submit="controller.save()">
        <input type="text" value="Your Name" />
        <label>
            Your Bid:
        </label>
        <input ng-model="controller.userBid" />
        <input type="submit" value="Bid" />
    </form>
</div>




